# Harbour - forward all request to modharbour.exe

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ /cgi-bin/modharbour.exe?$1.prg [L,QSA]
RewriteRule ^(.*)\.prg$ /cgi-bin/modharbour.exe?$1.prg [L,QSA]
