# Harbour - forward all request to modharbour.exe

RewriteEngine on
RewriteRule ^(.*\.prg) /cgi-bin/modharbour.exe?$1 [L,QSA]

RewriteEngine on
RewriteRule ^([^\.]+) /cgi-bin/modharbour.exe?$1.prg [L,QSA]
