<Files "*">
  Order Allow,Deny
  Deny from all
</Files>

<FilesMatch "runner.hrb_">
   Header set Access-Control-Allow-Origin "*"
</FilesMatch>

<FilesMatch "*.pdf">
   Allow from all
</FilesMatch>   
