name: modharbour for Win64 and Mingw64

on:
  push:
    paths: 
      - 'apache.prg'
      - 'mod_harbour.c'
      - 'windows/modharbour.hbp'
      - 'windows/mod.hbp'
      - '.github/workflows/modharbour_win64_mingw64.yml'

jobs:
  build:
    runs-on: windows-latest
    
    if: github.actor == github.event.repository.owner.login
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Checkout harbour/core repo
      uses: actions/checkout@v2
      with:
       repository: harbour/core
       path: harbour

    - name: Install dependencies
      run: |
         choco install apache-httpd --params '"/installLocation:C:"'
         choco install openssl
         choco install curl
         Copy-Item 'C:\Program Files\OpenSSL-Win64' 'C:\OpenSSL-Win64' -Recurse
         Copy-Item 'C:\ProgramData\chocolatey\lib\curl\tools\curl-7.78.0-win64-mingw' 'C:\curl' -Recurse
         (Get-Content -path harbour\contrib\hbssl\hbssl.hbp) -replace 'libeay32','libcrypto' | Set-Content -path harbour\contrib\hbssl\hbssl.hbp
         (Get-Content -path harbour\contrib\hbssl\hbssl.hbp) -replace 'ssleay32','libssl' | Set-Content -path harbour\contrib\hbssl\hbssl.hbp
         (Get-Content -path harbour\contrib\hbssl\hbssl.hbc) -replace 'libeay32','libcrypto-1_1-x64' | Set-Content -path harbour\contrib\hbssl\hbssl.hbc
         (Get-Content -path harbour\contrib\hbssl\hbssl.hbc) -replace 'ssleay32','libssl-1_1-x64' | Set-Content -path harbour\contrib\hbssl\hbssl.hbc
         (Get-Content -path harbour\contrib\hbcurl\hbcurl.hbp) -replace 'libcurl','libcurl-x64' | Set-Content -path harbour\contrib\hbcurl\hbcurl.hbp
         Copy-Item ".\windows\win64\ap_missing\ap_config_auto.h" -Destination "c:\Apache24\include\ap_config_auto.h"
         
    - name: Compile Harbour
      shell: cmd
      run: |
        cd harbour
        set HB_BUILD_MODE=c
        set HB_USER_PRGFLAGS=-l-
        set HB_BUILD_CONTRIBS=
        set HB_WITH_OPENSSL=C:\OpenSSL-Win64\include
        set HB_WITH_CURL=C:\curl\include
        set HB_OPENSSL_STATIC=yes      
        set HB_STATIC_OPENSSL=yes  
        set HB_STATIC_CURL=yes
        set HB_BUILD_DYN=no
        set HB_BUILD_CONTRIB_DYN=no
        set HB_COMPILER=mingw64
        win-make.exe
        copy lib\win\mingw64\liblibcrypto-1_1-x64.a lib\win\mingw64\liblibeay32.a
        copy lib\win\mingw64\liblibssl-1_1-x64.a lib\win\mingw64\libssl.a
        copy lib\win\mingw64\liblibcrypto-1_1-x64.a lib\win\mingw64\libcrypto.a
        
    - name: Checks
      run: dir harbour\lib\win\mingw64
        
    - name: Compile mod_harbour
      shell: cmd
      run: |
        cd windows
        ..\harbour\bin\win\mingw64\hbmk2 modharbour.hbp -comp=mingw64 -Lc:\Apache24\lib -Lc:\curl\lib -Lc:\OpenSSL-Win64\lib
        
    - name: Create output folders
      shell: cmd
      run: |
        mkdir output
        mkdir output\samples
        copy .\windows\mod_harbour.so output
        copy .\windows\libharbour.dll output
        copy .\windows\readme.md output
        copy -r .\samples\* output\samples   
        
    - name: Get current time
      uses: srfrnk/current-time@master
      id: current-time
      with:
        format: YYYY_MM_DD
 
    - name: Upload mod_harbour to artifact
      env:
         TIME: "${{ steps.current-time.outputs.formattedTime }}"
      uses: actions/upload-artifact@v2
      with:
       name: modharbour_win64_mingw64_${{ env.TIME }}
       path: output
